<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="js/angular-ios9-uiwebview.patch.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
</head>
<body ng-app="starter">
<!--
  The nav bar that will be updated as we navigate between views.
-->

<ion-side-menus>

    <ion-side-menu-content ng-controller="DashCtrl">
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button class="button-icon ion-arrow-left-c">
            </ion-nav-back-button>

            <!--<ion-nav-buttons side="left">-->
            <!--<button class="button button-icon button-clear ion-navicon" ng-click="showMenu()">-->
            <!--</button>-->
            <!--</ion-nav-buttons>-->

            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-gear-b" ng-click="showRightMenu()">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>


    <ion-side-menu side="right">
        <ion-header-bar class="bar bar-header bar-dark">
            <h1 class="title">Setting</h1>
        </ion-header-bar>
        <ion-content>

            <ion-list>
                <ion-item class="item item-divider">Notification</ion-item>
                <ion-toggle ng-model="settings.confirmOrder">
                    Confirm order
                </ion-toggle>
                <ion-toggle ng-model="settings.cancelOrder">
                    Cancel Order
                </ion-toggle>
                <ion-toggle ng-model="settings.msgProvider">
                    Provider
                </ion-toggle>
                <ion-item class="item item-divider">Notification Repeat</ion-item>
                <ion-toggle ng-model="settings.msgRepeat">
                    Repeat
                </ion-toggle>
                <div class="list">

                    <label class="item item-input item-select">
                        <div class="input-label">
                            Delay Time Repeat
                        </div>
                        <select>
                            <option value="1">1</option>
                            <option value="3" selected>3</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                        </select>
                    </label>

                </div>

            </ion-list>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>

</body>
</html>
